<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c88.admin.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.c88.admin.pojo.entity.SysMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="i18n" column="i18n" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>

        <result property="urlPerm" column="url_perm" jdbcType="VARCHAR"/>
        <result property="btnPerm" column="btn_perm" jdbcType="VARCHAR"/>

        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="visible" column="visible" jdbcType="BOOLEAN"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="type" column="type" jdbcType="OTHER" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <collection property="roles" ofType="string" javaType="list">
            <result column="code"/>
        </collection>
    </resultMap>



    <select id="listRoutes" resultMap="BaseResultMap">
        select t1.id,
               t1.name,
               t1.parent_id,
               t1.i18n,
               t1.path,
               t1.component,
               t1.icon,
               t1.sort,
               t1.visible,
               t1.redirect,
               t3.code,
               t1.type
        from sys_menu t1
                 left join sys_role_menu t2 on t1.id = t2.menu_id
                 left join sys_role t3 on t2.role_id = t3.id
        where t1.visible = 1

        <if test='onlyMenus == true'>
            and type in (1,2,3)
        </if>


        order by t1.sort asc
    </select>




    <select id="findByRoleId" resultMap="BaseResultMap">
        select t1.id,
               t1.name,
               t1.parent_id,
               t1.path,
               t1.i18n,
               t1.component,
               t1.icon,
               t1.sort,
               t1.visible,
               t1.redirect,
               t3.code,
               t1.type
        from sys_menu t1
                 left join sys_role_menu t2 on t1.id = t2.menu_id
                 left join sys_role t3 on t2.role_id = t3.id
        where t1.visible = 1
        and t3.id = #{id}
        order by t1.sort asc
    </select>

    <select id="listBtnPermByRoles" resultType="java.lang.String">
        SELECT
        distinct (t1.btn_perm)
        FROM
        sys_menu t1,
        sys_role_menu t2 ,
        sys_role t3
        WHERE
        t1.type = 4 and
        t1.id=t2.menu_id and
        t2.role_id=t3.id and
        t3.code IN
        <foreach collection='roles' item='role' open='(' separator=',' close=')'>
            #{role}
        </foreach>
        order by t1.sort
    </select>

    <!-- 获取权限和拥有权限的角色映射 -->
    <select id="listMenuPermRoles" resultMap="BaseResultMap">
        SELECT t1.id,
               t1.name,
               t1.url_perm,
               t1.btn_perm,
               t3.CODE
        FROM sys_menu t1
                 LEFT JOIN sys_role_menu t2 ON t1.id = t2.menu_id
                 LEFT JOIN sys_role t3 ON t2.role_id = t3.id
        where t1.type = 4
    </select>

    <select id="findByRoleAndPerm" resultType="com.c88.admin.pojo.vo.menu.RoleAndPermVO">
        select sr.name     as name,
               sm.url_perm as perm
        from sys_role_menu srm
                 join sys_menu sm on srm.menu_id = sm.id
                 join sys_role sr on srm.role_id = sr.id
        where sm.url_perm != ''
    </select>
</mapper>
